<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
         table, th, td {
            border: 1px solid black;
          
         }

    </style>
</head>
<body>
    <table style="width: 100%; text-align: center;">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Address</th>
            <th>Email</th>
            <th>Office</th>
            <th>Position</th>
           
            <th>DESIGNATION</th>

            <% for(let employee  of employees) { %>
                <tr>
                     <td> <%=employee.firstName %> </td>
                     <td>  <%=employee.lastName%></td>   
                     <td> <%=employee.age  %></td>
                     <td> <%=employee.address  %></td>
                     <td> <%=employee.email  %></td>
                     <td> <%=employee.office  %></td>
                     <td> <%=employee.position  %></td>
                     <td><%=employee.designation  %></td>
                     <td><a href="/employees/<%=employee._id%>">View</a></td>
                     <td><a href="/employees/<%=employee._id  %>/update-employee-form">Edit</a></td>
                     <td><form action="/employees/<%=employee._id  %>?_method=DELETE" method="POST"><button>Delete</button></form></td>
        
                </tr>
            <% } %>
            
        </tr>
    </table>

</body>
</html>