<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Firstname: <b><%=employee.firstName %></b> </p>
    <p>Lastname:  <b><%=employee.lastName%></b></p>   
    <p>Age: <b><%=employee.age  %></b></p>
    <p>Address: <b><%=employee.address  %></b></p>
    <p>Email:  <b><%=employee.email  %></b></p>
    <p>Office: <b><%=employee.office  %></b></p>
    <p>Position <b><%=employee.position  %></b></p>
    <p>SSS ID: <b><%=employee.sssId  %></b></p>
    <p>GSID ID: <b><%=employee.gsisId  %></b></p>
    <p>PHIL Health ID:  <b><%=employee.philHealthId  %></b></p>
    <p>PAG-IBIG ID: <b><%=employee.pagibigId  %></b></p>
    <p>TIN NUMBER: <b><%=employee.tinId  %></b></p>
    <p>DESIGNATION:: <b><%=employee.designation  %></b></p>

    <a href="/employees">Back</a>
</body>
</html>